
# Distribution / packaging
# Installer logs

# Unit test / coverage reports


# Scrapy stuff:
.scrapy



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
ideas.md

